/*css for 90s-ness site*/

/*Color Swatch--------------------------------------------------------
	black		#000000
	text gray	#a0a0a0
	pink		#ed145b
	wow green	#aaff00
----------------------------------------------------------------------*/

/*----------------------------------------------------------------------
Generic Selectors
----------------------------------------------------------------------*/

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 
	width: 100%;		
}

p {
	width: 100%;
}

li {
	list-style-type: none;
	line-height: 150%;
}


h1 {
	font-family: 'Sintony', sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #000000;
}

h2,h3 {
	font-family: 'Sintony', sans-serif;
	font-size: 22px;
	font-weight: normal;
	color: #000000;
}


/*---------------------------------------------------------------------
Classes
-----------------------------------------------------------------------*/





/*----------------------------------------------------------------------
Main Navigation
----------------------------------------------------------------------*/

#nav li {
	float: left;
}

a:link {
	float: left;
	width: 80px;
	height: 26px;
	display: block;
	font-weight: bold;
	text-decoration: none;
	color: #a0a0a0
}

a:visited { 
	color: #aaff00;
	text-decoration: none;
	font-size: 26px;
	font-weight: normal;	 
}

a:hover {
	color: #ed145b;
	text-decoration: none;
	font-size: 26px;
	font-weight: normal;	 
}

a:active {
	color: #FFAA00;
	text-decoration: none;
	font-size: 26px;
	font-weight: normal;
}

	display: block;
	color: ;
	padding-bottom: ;
	font-weight: ;
	border-bottom-width: ;
	border-bottom-style: ;
	border-bottom-color: ;	
}
  
a:active { 
	color: ;
	font-weight: ; 
} 
